<h1><%= Order.model_name.human %></h1>
<div>
  <strong><%= Order.human_attribute_name(:warehouse_id)  %>:</strong> <%= @order.warehouse.full_description %>
</div>
<div>
  <strong><%= Order.human_attribute_name(:supplier_id)  %>:</strong> <%= @order.supplier.corporate_name %>
</div>
<div>
  <strong><%= Order.human_attribute_name(:user_id)  %>:</strong> <%= @order.user.description %>
</div>
<div>
  <strong><%= Order.human_attribute_name(:estimated_delivery_date)  %>:</strong> <%= I18n.localize(@order.estimated_delivery_date) %>
</div>