<h1>Galpão <%= @warehouse.code %></h1>
<div>
  <strong>Nome: </strong><%= @warehouse.name %>
</div>
<div>
  <strong>Cidade: </strong><%= @warehouse.city %>
</div>
 <div>
  <strong>Área: </strong><%= @warehouse.area %> m²
</div>
<div>
  <strong>Endereço: </strong><%= @warehouse.address %>
</div>
<div>
  <strong>CEP:</strong> <%= @warehouse.cep %>
</div>
<div>
  <strong>Descrição:</strong> <%= @warehouse.description %>
</div>
</div>
  <%= link_to('Editar', edit_warehouse_path)  %>
  <%= button_to('Excluir', warehouse_path(@warehouse.id), method: :delete)  %>
</div>

<%= link_to('Voltar', root_path)  %>
